/* Contenedor para los botones */
#button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

#theme-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
  background-color: #f4f4f4;
  border: none;
  /* Crea un botón redondo */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  color: #333;
  /* Los siguientes tres declaraciones centran el emoji vertical y horizontalmente */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Suaviza la transición del cambio de color de fondo */
  transition: background-color 0.3s ease;
}

#theme-btn:focus {
  outline: none;
  /* Elimina el borde al obtener el foco */
}

#theme-btn:hover {
  cursor: pointer;
  /* Añade una transición al pasar el mouse encima del botón para una mejor experiencia de usuario */
  opacity: 0.7;
  /* Añade un suave borde sombreado en hover */
  box-shadow: 0 0 10px #000;
}

/* Tema Claro */
.light-mode {
  background-color: #f5f5f5;
  color: #333;
}

.light-mode a {
  color: #007bff;
}

.light-mode .btn {
  color: #fff;
}

.light-mode .table {
  color: #333;
}

.light-mode .form-control {
  color: #495057;
  background-color: #fff;
}

.light-mode .btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.light-mode .btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
}

.light-mode .btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.light-mode #theme-btn {
  background-color: #f4f4f4;
  color: #333;
}

/* Estilos para el botón de cerrar sesión en light mode */
.light-mode #logout-button {
  background-color: #007bff;
  color: white;
  font-size: 0.75rem;    
  padding: 5px 10px;
}

/* Tema Oscuro */
.dark-mode {
  background-color: #333;
  color: #f5f5f5;
}

.dark-mode a {
  color: #6cc3d5;
}

.dark-mode .btn {
  color: #fff;
}

.dark-mode .table {
  color: #f5f5f5;
}

.dark-mode .form-control {
  color: #f5f5f5;
  background-color: #495057;
}

.dark-mode .btn-success {
  background-color: #45a172;
  border-color: #45a172;
}

.dark-mode .btn-warning {
  background-color: #c7a707;
  border-color: #c7a707;
}

.dark-mode .btn-danger {
  background-color: #b84558;
  border-color: #b84558;
}

.dark-mode #theme-btn {
  background-color: #333;
  color: #f4f4f4;
}

/* Estilos para el botón de cerrar sesión en dark mode */
.dark-mode #logout-button {
  background-color: #343a40;
  color: white;
  font-size: 0.75rem;
  padding: 5px 10px;
}