.services-section {
  padding: 1rem .5rem;
}

.services-header {
  background-color: var(--color-base-light);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0;
}

.services-main {
  padding-top: 1rem;
}

.service-name,
.service-description {
  padding-right: 4px;
  text-align: justify;
}

.service-description {
  width: 50%;
}

.service-row {
  vertical-align: top;
}

.action-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.btn-crud {
  background-color: var(--color-emphasis-3);
  border-style: solid var(--color-emphasis-3);
  cursor: pointer;
  transition: var(--trans1, border-color .4s ease 0s, background-color .4s ease 0s);
  align-self: end;
  padding: .5rem .5rem;
  display: flex;
  align-items: center;
  gap: 4px;
}

.btn-crud:hover {
  background-color: var(--color-emphasis-1);
}

.btn-add {
  padding-right: 1rem;
  font-size: 0.875rem;
}


@media(min-width:824px) {
  .services-main {
    padding: 1rem 0;
  }

  .action-wrapper {
    flex-direction: row;
  }
}