header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-image {
  max-height: 60px;
  border: 2px solid var(--color-shadow-medium);
  padding: 2px;
  border-radius: 50%;
}

.logo-text {
  align-items: start;
}

.nav-bar {
  display: none;
  flex-direction: column;
  background-color: #fff;
  height: 100vh;
  position: absolute;
  top: 85px;
  left: 0;
  right: 0;
  z-index: 999;
  align-items: center;
  font: var(--font-menu-vertical);
}

.nav-bar-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 0;
  padding-top: 4rem;
  gap: 2rem;
}

.nav-bar-item {
  color: var(--color-base-dark);
}

.nav-bar.active {
  display: flex;
}

.nav-bar-item-active a {
  color: var(--color-emphasis-3);
}

.hamburger-menu {
  display: block;
  cursor: pointer;
  margin-right: 1rem;
}

.hamburger-menu.menu-active {
  display: none;
}

.hamburger-close {
  display: none;
  cursor: pointer;
  margin-right: 1rem;
}

.hamburger-close.active {
  display: block;
}

.hamburger-menu img,
.hamburger-close img {
  height: 32px;
}


@media(min-width:824px) {
  header {
    display: flex;
    flex-direction: row;
    padding: 1rem 10%;
  }

  .nav-bar {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    position: initial;
    height: auto;
    font: var(--font-menu);
    padding: 0;
    background-color: transparent;
  }

  .nav-bar-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-top: 0;
    align-items: normal;
    gap: .5rem;
  }

  .nav-bar-item {
    display: inline-block;
    line-height: 2rem;
    width: 6.5rem;
    text-align: center;
    transition: background-color 0.5s ease 0s;
  }
  
  .nav-bar-item-active a {
    background-color: var(--color-emphasis-3);
    color: var(--color-base-dark);
  }

  .nav-bar-item:hover {
    cursor: pointer;
    background-color: var(--color-emphasis-3);
  }

  .logo-image {
    max-height: 80px;
  }

  .hamburger-menu {
    display: none;
  }

  .hamburger-close {
    display: none;
  }
}