/* Importar las fuentes */
@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"),
    url("../../assets./fonts/Roboto-Regular.woff2") format("woff2"),
    url("../../assets./fonts/Roboto-Regular.woff") format("woff"),
    url("../../assets./fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Bold";
  src:
    local("Roboto Bold"),
    url("../../assets./fonts/Roboto-Bold.woff2") format("woff2"),
    url("../../assets./fonts/Roboto-Bold.woff") format("woff"),
    url("../../assets./fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat"),
    url("../../assets./fonts/Montserrat.woff2") format("woff2"),
    url("../../assets./fonts/Montserrat.woff") format("woff"),
    url("../../assets./fonts/Montserrat.ttf") format("truetype");
}

/* Variables */
:root {
  /* Fuentes:
     Para calcular el tamaño en rem dividir el tamaño en px por 16
  */

  /* Encabezados */
  --font-header-1: normal normal bold 1.75rem/1.4rem "Roboto Bold", "Roboto", sans-serif;
  /*                                    |       |-> Altura de la línea */
  /*                                    |-> Tamaño de la fuente */
  --font-header-2: normal normal normal 1.75rem/1.4rem "Roboto Bold", "Roboto", sans-serif;
  --font-header-3: normal normal normal 2.125rem/1.4rem "Roboto Bold", "Roboto", sans-serif;
  --font-header-4: normal normal bold 1.75rem/1.4rem "Roboto Bold", "Roboto", sans-serif;
  --font-header-5: normal normal bold 1.375rem/1.4rem "Roboto Bold", "Roboto", sans-serif;
  --font-header-6: normal normal normal 1.1875rem/1.4rem "Roboto Bold", "Roboto", sans-serif;

  /* Párrafos */
  --font-paragraph-1: normal normal normal 1rem/1.4rem "Montserrat", sans-serif;
  --font-paragraph-2: normal normal normal 0.875rem/1.4rem "Montserrat", sans-serif;
  --font-paragraph-3: normal normal normal 0.8125rem/1.4rem "Montserrat", sans-serif;

  /* Menú */
  --font-menu: normal normal 600 0.875rem/1.4rem "Roboto", "Roboto", sans-serif;
  --font-menu-vertical: normal normal normal 1.2rem/1.4rem "Montserrat", sans-serif;

  /* Otros */
  --font-plans-subtitle: normal normal normal 1.75rem/1.4em "Montserrat", sans-serif;
  --font-plan-title: normal normal normal 1.25rem/1.4em "Montserrat", sans-serif;
  --font-plan-price: normal normal normal 3.75rem/1.4em "Montserrat", sans-serif;
  --font-plan-time: normal normal normal .75rem/1.4em "Montserrat", sans-serif;
  --font-plan-description: normal normal normal .875rem/1.4em "Montserrat", sans-serif;

  /* Colores */

  /* Colores base */
  --color-base-light: #f3f3f3;
  --color-base-dark: #383838;

  /* Colores de sombra */
  --color-shadow-light: #d6d6d6;
  --color-shadow-medium: #aaa8a8;
  --color-shadow-dark: #717070;

  /* Colores de énfasis */
  --color-emphasis-1: #caf7b1;
  --color-emphasis-2: #b1e690;
  --color-emphasis-3: #96d16f;
  --color-emphasis-4: #719d53;
}