.whatsapp-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 8%;
  right: 5%;
  gap: .2rem;
}

.chat-me {
  display: none;
}

.whatsapp-btn {
  cursor: pointer;
  background-color: transparent;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, .4);
  border-radius: 50%;
}

.whatsapp-btn:hover {
  opacity: .8;
}

.whatsapp-btn img {
  width: 48px;
  height: 48px;
  vertical-align: middle;
}


@media(min-width:824px) {
  .whatsapp-wrapper {
    bottom: 10%;
    right: 87px;
  }

  .chat-me {
    display: none;
    height: 64px;
  }

  .whatsapp-btn {
    bottom: 15%;
  }

  .whatsapp-wrapper:hover .chat-me {
    display: flex;
  }

  .whatsapp-wrapper:hover {
    right: 42px;
  }

  .whatsapp-btn img {
    width: 48px;
    height: 48px;
  }

}