{% extends "base-navbar.html" %}

{% block content %}
<section class="services-section">
  <header class="services-header">
    <h2>Servicios</h2>
    <div class="btn-wrapper">
      <a href="{{ url_for('add_service') }}">
        <button class="btn-crud btn-add" title="Agregar">
          <img src="{{ url_for('static', filename='assets/icons/add.svg') }}" alt=""> 
          <span>Agregar servicio</span>
        </button>
      </a>
    </div>
  </header>
  <main class="services-main">
    <div class="table-wrapper">
      <table class="service-table">
        <thead class="service-row">
          <th class="service-name service-table-header">Nombre</th>
          <th class="service-description service-table-header">Descripción</th>
          <th class="service-table-header"></th>
        </thead>
        <tbody>
          {% for service in services %}
          <tr class="service-row">
            <td class="service-name">{{ service.name }}</td>
            <td class="service-description">{{ service.description }}</td>
            <td>
              <div class="action-wrapper">
                <a href="{{ url_for('index', id=service.id) }}" title="Editar">
                  <button class="btn-crud" title="Editar">
                    <img src="{{ url_for('static', filename='assets/icons/edit.svg') }}" alt="">
                  </button>
                </a>
                <a href="{{ url_for('index', id=service.id) }}" title="Eliminar">
                  <button class="btn-crud" title="Eliminar">
                    <img src="{{ url_for('static', filename='assets/icons/delete.svg') }}" alt="">
                  </button>
                </a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
</section>
{% endblock %}