{% extends "base-simple.html" %}

{% block content %}
  <section class="add-edit-service">
    <header class="service-title">
      <h2>{{ title }}</h2>
    </header>
    <main class="service-main">
      <section class="service-form">
        <form action="{{ url_for('add_service') }}" method="post">
          <label for="input-service-name">Nombre del servicio:</label>
          <input type="text" name="input-service-name" class="input-service-name">
          <label for="input-service-description">Descripción:</label>
          <textarea name="input-service-description" class="input-service-description" cols="30" rows="10"></textarea>
          <button type="submit" id="btn-service-save">
            <img src="{{ url_for('static', filename='assets/icons/save.svg') }}" alt="">
            <span>Guardar</span>
          </button>
          <button type="button" id="btn-service-cancel">
            <img src="{{ url_for('static', filename='assets/icons/cancel.svg') }}" alt="">
            <span>Cancelar</span>
          </button>
        </form>
      </section>
    </main>
  </section>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}